{% extends 'appointments/pat_index.html' %}

    {% block content %}
    <div class="container" style="width:100%; padding-left:10dp; padding-right: 10dp">
    {% if doc_info %}
        <div class="row">
            <div class="col">Doctor</div>
            <div class="col">Specialization</div>
            <div class="col">Start Time</div>
            <div class="col">End Time</div>
            <div class="col">Fees</div>
            <div class="col">Date</div>
            <div class="col"></div>
        </div>
            {% for item in doc_info %}
                <form action="{% url "appointments:appoint" %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">{{ item.doc_id }}</div>
                        <input type="hidden" name="slot_id" value="{{ item.slot_id }}" readonly>
                        <div class="col">{{ item.spec }}</div>
                        <div class="col">{{ item.start_time }}</div>
                        <div class="col">{{ item.end_time }}</div>
                        <div class="col">{{ item.fees }}</div>
                        <div class="col">{{ item.date }}</div>
                        <div class="col"><button type="submit" class="btn btn-secondary">Check</button></div>
                    </div>
                </form>
            {% endfor %}
    {% else %}
        <h4>We have no doctors with that specialization</h4>
    {% endif %}
    </div>
    {% endblock %}