{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc_slots.css' %}">
</head>
<body>
    {% if items %}
        <div class="container" style="padding-top: 7%">
            {% for item in items %}
                <form action="{% url "appointments:appoint" %}">
                    <div class="row">
                        <div class="col">{{ item.doc_id }}</div>
                        <div class="col">{{ item.spec }}</div>
                        <div class="col">{{ item.start_time }}</div>
                        <div class="col">{{ item.end_time }}</div>
                        <div class="col"><input type="text" name="fees" value="{{ item.end_time }}" readonly></div>
                    </div>
                </form>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>