{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/doc_slots.css' %}">
</head>
<body>
    <div class="container" style="padding-top: 7%">
        <h2>Check the doctors nearby</h2>
    </div>
    <div class="container" style="padding-top: 7%">
        <form action="{% url "appointments:check_avail" %}" method="post">
            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="col">City you live in: </div>
                    <div class="col"><input type="text" name="city_name"></div>
                </div><br>
                <div class="row">
                    <div class="col">Area in the city: </div>
                    <div class="col"><input type="text" name="locality"></div>
                </div><br>
                <div class="row">
                    <div class="col">Specialization: </div>
                    <div class="col"><input type="text" name="spec"></div>
                </div><br>
                <div class="row">
                    <div class="col">Date of Appointment: </div>
                    <div class="col"><input type="date" name="date_app" id="date_app"></div>
                </div><br>
                <div class="row">
                    <div class="col"></div>
                    <div class="col"><button type="submit" class="btn btn-secondary">Check</button></div>
                </div><br>
            </div>
        </form>
</body>
</html>