<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOCA</title>
    <style>
        .nav-mid {
            display: inline-block;
        }
        
        .nav-mid .product-tab {
            display: inline-block;
            min-width: 112px;
            margin-right: 20px;
            padding: 22px 0 9px;
        }
        
        .nav-mid .product-tab__title {
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            color: #2d2d32;
            letter-spacing: -0.3px;
        }
        
        .nav-mid .product-tab__subtitle {
            font-size: 12px;
            line-height: 18px;
            color: #787887;
            letter-spacing: -0.1px;
        }
        
        .main-menu-left {
            float: left;
        }
        
        .nav-right {
            float: right;
            padding: 20px 0 19px;
        }
        
        .nav-items:last-child {
            margin-right: 0px;
        }
        
        .border1g {
            border: 0.5px solid grey;
            height: 40px;
        }
        
        .nav-login {
            font-size: 13px;
            line-height: 13px;
            color: #787887 !important;
            border-radius: 4px;
            border: solid 1px #d3d3d3;
            padding: 8px 10px;
        }
        
        .btn-border {
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #414146;
            background-color: transparent;
            padding: 5px 20px;
            cursor: pointer;
            color: #414146 !important;
        }
        
        .m-t-100 {
            margin-top: 100px;
        }
        
        .iconSpan {
            font-size: 16px;
            position: absolute;
            top: 50%;
            left: 16px;
            width: 20px;
            transform: translateY(-50%);
        }
        
        .main-heading {
            font-weight: bold;
            color: #2d2d32;
            letter-spacing: -0.3px;
        }
        
        .items {
            width: 100%;
            margin: 0px auto;
            margin-top: 20px
        }
        
        .slick-slide {
            margin: 10px
        }
        
        .slick-slide img {
            width: 100%;
            border: 0px solid #fff
        }
        
        .u-font--16 {
            font-size: 16;
        }
        
        .u-font--14 {
            font-size: 14;
        }
        
        .card1 {
            background-color: white;
            opacity: unset;
            border: 1px solid gray;
            border-radius: 20px;
            padding-bottom: 16px;
            margin-bottom: 16px;
            margin-top: 16px;
        }
        
        .doc_info_section {
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        .doctor-name {
            color: blue;
            font-size: 20px;
            line-height: 30px;
        }
        
        .doctor_spec {
            color: grey;
            font-size: 14px;
        }
        
        .doctor_loc {
            color: black;
            font-size: 16px;
        }
        
        .uv2-cushion--lg-top {
            padding-top: 16px;
        }
        
        .uv2-spacer--md-top {
            margin-top: 12px;
        }
        
        .u-border-general-dashed-top--gray-10 {
            border-top: 1px dashed #e8e8f0;
        }
        
        .doc_fee {
            color: black;
            font-size: 16px;
            margin-left: 8px;
            font-weight: 700;
        }
        
        .o-label--success {
            background: #00a500;
            color: #fff;
            display: inline-block;
            padding: 4px 8px;
            font-size: 12px;
            line-height: 1;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25em;
            max-width: 100%;
        }
        
        .book_btn {
            background-color: white;
            color: blue;
            padding: 8px;
            border: 1px solid blue;
            border-radius: 8px;
            margin-top: 8px;
        }
        
        .book_btn:hover {
            background-color: blue;
            color: white;
            border: 1px solid white;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Roboto+Mono:400,500|Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/css/slick.css">
    <link rel="stylesheet" href="../../static/css/slick-theme.css">
    <link rel="stylesheet" href="../static/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/css/mainmenu.css">
    <link rel="stylesheet" href="../../static/css/main2.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />


</head>

<body>

    <header id="header-area" class="sticky">
        <div class="main-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2">
                        <div class="logo" style="margin-top:8px;">
                            <a href="/accounts/pHome/" style="font-size: 25px;"><img src="../../static/img/logodark.png" alt="">DOCA</a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <div class="main-menu-left">

                            <nav style="display: block;">
                                <div class="nav-mid">
                                    <div class="product-tab">
                                        <a class="nav-interact" event="Nav:Interacted:Book an appointment" href="/book/search/" title="book">
                                            <div class="product-tab__title">Doctors</div>
                                            <div class="product-tab__subtitle">Book an appointment</div>
                                        </a>
                                    </div>
                                    <div class="product-tab">
                                        <a class="nav-interact" event="Nav:Interacted:Chat with doctor" href="/chat/home/" title="chat">
                                            <div class="product-tab__title">Chat</div>
                                            <div class="product-tab__subtitle">Chat with top doctors</div>
                                        </a>
                                    </div>
                                    <div class="product-tab">
                                        <a class="nav-interact" event="Nav:Interacted:Order medicines" href="" title="medicines">
                                            <div class="product-tab__title">Pharmacy</div>
                                            <div class="product-tab__subtitle">Medicines &amp; health products</div>
                                        </a>
                                    </div>
                                    <div class="product-tab">
                                        <a class="nav-interact" event="Nav:Interacted:Book diagnostic tests" href="/book/manage/" title="tests">
                                            <div class="product-tab__title">Appointment</div>
                                            <div class="product-tab__subtitle">Manage your appointments</div>
                                        </a>
                                    </div>

                                </div>

                            </nav>
                        </div>
                        <div class="nav-right text-right">
                            <div class="nav-items">
                                <span>
                                <a href="/accounts/logout/" class="btn-border nav-login nav-interact ">Logout</a>
                            </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="mobile-menu"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container m-t-100">

        <br><br><br>
        <h3 class="main-heading">Book an Appointment for in-clinic Consultation</h3>
        <h5 class="subtitle">Find experienced doctors across all specialties</h5>

        <div class="items">
            <div>
                <div class="u-margin--10__left u-margin--10__right outline-none" tabindex="-1" style="width:100%;display:inline-block">
                    <div class="card card--280">
                        <div class="card__img--280x200"><a href="/book/search/"><span class="LazyLoad is-visible"><img alt="Dentist" class="card__img" style="background-color: rgb(215, 216, 226);" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-dentist@2x.jpg"></span></a></div>
                        <div class="u-margin--12__top">
                            <h6 class="u-font--16 u-margin--0 u-font--bold card__header">Dentist</h6>
                        </div>
                        <div class="u-t-c--black_1 u-font--14">Teething troubles? Schedule a dental checkup</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="u-margin--10__left u-margin--10__right outline-none" tabindex="-1" style="width:100%;display:inline-block">
                    <div class="card card--280">
                        <div class="card__img--280x200">
                            <a href="/book/search/">
                                <span class="LazyLoad is-visible">
                                <img alt="Dentist" class="card__img" style="background-color: rgb(215, 216, 226);" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-gynecologist@2x.jpg"></span></a>
                        </div>
                        <div class="u-margin--12__top">
                            <h6 class="u-font--16 u-margin--0 u-font--bold card__header">Gynecologist/Obstetrician</h6>
                        </div>
                        <div class="u-t-c--black_1 u-font--14">Explore for women’s health, pregnancy and infertility treatments</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="u-margin--10__left u-margin--10__right outline-none" tabindex="-1" style="width:100%;display:inline-block">
                    <div class="card card--280">
                        <div class="card__img--280x200"><a href="/book/search/"><span class="LazyLoad is-visible">
                            <img alt="Dentist" class="card__img" style="background-color: rgb(215, 216, 226);" 
                            src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-pediatrician@2x.jpg"></span></a></div>
                        <div class="u-margin--12__top">
                            <h6 class="u-font--16 u-margin--0 u-font--bold card__header">Pediatrician</h6>
                        </div>
                        <div class="u-t-c--black_1 u-font--14">Child Specialists and Doctors for Infant</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="u-margin--10__left u-margin--10__right outline-none" tabindex="-1" style="width:100%;display:inline-block">
                    <div class="card card--280">
                        <div class="card__img--280x200"><a href="/jaipur/dentist?utm_source=consumer-home&amp;utm_medium=dweb"><span class="LazyLoad is-visible"><img alt="Dentist" class="card__img" style="background-color: rgb(215, 216, 226);" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-general-doctor@2x.jpg"></span></a></div>
                        <div class="u-margin--12__top">
                            <h6 class="u-font--16 u-margin--0 u-font--bold card__header">General Pysician</h6>
                        </div>
                        <div class="u-t-c--black_1 u-font--14">Find the right family doctor in your neighborhood</div>
                    </div>
                </div>
            </div>
            <div>
                <div class="u-margin--10__left u-margin--10__right outline-none" tabindex="-1" style="width:100%;display:inline-block">
                    <div class="card card--280">
                        <div class="card__img--280x200"><a href="/jaipur/dentist?utm_source=consumer-home&amp;utm_medium=dweb"><span class="LazyLoad is-visible"><img alt="Dentist" class="card__img" style="background-color: rgb(215, 216, 226);" src="https://www.practostatic.com/consumer-home/desktop/images/1558283618/sp-dentist@2x.jpg"></span></a></div>
                        <div class="u-margin--12__top">
                            <h6 class="u-font--16 u-margin--0 u-font--bold card__header">Dentist</h6>
                        </div>
                        <div class="u-t-c--black_1 u-font--14">Teething troubles? Schedule a dental checkup</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <br>
    <BR><br>
    <div class="container">
        <h3 class="main-heading">Upcoming Appointement</h3>
        <h5 class="subtitle">Never miss your appointement</h5>
        <div style="width:100%">
            {% for x in appointements%}
            <div class="col-6">
                <div class="row card1">
                    <div class="col-3">
                        <img width="100px" src="https://previews.123rf.com/images/inegvin/inegvin1711/inegvin171100010/89549889-doctor-web-icon-head-physician-medical-avatar-in-flat-style-illustration.jpg" alt="Avatar" style="border-radius: 50%; margin-top: 50px;margin-bottom: 50px;">
                    </div>
                    <div class="col-5" style="padding-top:20px;">
                        <div class="doc_info_section">
                            <div class="row doctor-name">Dr. {{x.doctor.first_name}} {{x.doctor.last_name}}</div>
                            <div class="row doctor_spec">{{x.doctor.spec}}</div>
                            <div class="row doctor_spec">{{x.doc.experience}}</div>
                            <div class="row doctor_loc">{{x.doctor.address}},{{x.doctor.city}}</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="app_section" style="margin-top: 100px;">
                            <div class="row" style="color: #00a500">
                                <span class="material-icons">
                                        alarm
                                        </span>
                                <span>{{x.slot.start_time}}</span>
                                <span> </span>
                                <span class="material-icons" style="margin-left:8px">
                                        event
                                        </span>
                                <span>{{x.date}}</span>
                            </div>
                            <div class="row">
                                <button class="btn-toolbar book_btn">manage</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {%endfor%} {%if appointements is null %}
            <div style="margin-top:75px">No result found</div>
            {%endif%}
        </div>
    </div>

    <br><br>


    <section class="testimonials section-padding">
        <div class="medipath-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="medipath-title m-title text-center">
                        <h2>Testimonials</h2>
                        <p>What our users have to say</p>
                    </div>
                </div>
            </div>
            <div class="regular testimonial-slider slick-initialized slick-slider slick-dotted">
                <div class="slick-list draggable">
                    <div class="slick-track" style="opacity: 1; width: 4440px; transform: translate3d(-1110px, 0px, 0px);">
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>What our users have to say</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/2.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>jhon de</h4>
                                    <h5>Heart patient</h5>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy booking. Even maintains history of doctors visited.</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/1.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>Ankit singh</h4>
                                    <h5>Heart patient</h5>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>Very easy to book,maintain history. Hassle free from older versions of booking appointment via telephone.. Thanks Practo for making it simple.</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/avatars/1.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>Ankit singh</h4>
                                    <h5>Patient</h5>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy booking. Even maintains history of doctors visited.</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/avatars/5.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>Lushaank</h4>
                                    <h5>Patient</h5>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy booking. Even maintains history of doctors visited.</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/1.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>Ankit singh</h4>
                                    <h5>Heart patient</h5>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-area slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 525px;" tabindex="-1">
                            <div class="testimonial-text">
                                <p>Very helpful. Far easier than doing same things on computer. Allows quick and easy search with speedy booking. Even maintains history of doctors visited.</p>
                            </div>
                            <div class="testimonial-details">
                                <div class="testimonial-img">
                                    <img src="../../static/img/1.png" alt="hgdgg">
                                </div>
                                <div class="testimonial-info">
                                    <h4>Ankit singh</h4>
                                    <h5>Heart patient</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <ul class="slick-dots" style="display: block;" role="tablist">
                    <li class="slick-active" role="presentation"><button type="button" role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 2" tabindex="0" aria-selected="true">1</button></li>
                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 2" tabindex="-1">2</button></li>
                    <li role="presentation"><button type="button" role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 2" tabindex="-1">3</button></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="blog section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="medipath-title text-center">
                        <h2>Latest news</h2>
                        <p>Health articles that keep you informed about good health practices and achieve your goals.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="blog-area">
                        <div class="blog-item">
                            <a href="https://www.livescience.com/young-adults-covid-19-prolonged-illness.html"><img src="https://cdn.mos.cms.futurecdn.net/fAAEsQRLD6fjFJeyWs4GBP-970-80.jpg.webp" alt="blog"></a>
                        </div>
                        <div class="blog-details">
                            <h5><a href="https://www.livescience.com/young-adults-covid-19-prolonged-illness.html">1 in 4 young adults with COVID-19 still have symptoms weeks later</a></h5>
                            <h6>25 August posted by admin</h6>
                            <p>Young people should not expect to bounce right back after a COVID-19 infection.
                            </p>
                            <a href="https://www.livescience.com/young-adults-covid-19-prolonged-illness.html" class="medipath-btn">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-area">
                        <div class="blog-item">
                            <a href="https://www.livescience.com/icu-capacity-explained.html"><img src="https://cdn.mos.cms.futurecdn.net/it67geyjWqCBshRWGNsRMh-970-80.jpg.webp" alt="blog"></a>
                        </div>
                        <div class="blog-details">
                            <h5><a href="https://www.livescience.com/icu-capacity-explained.html">What happens when the ICU is full?</a></h5>
                            <h6>25 August posted by admin</h6>
                            <p>COVID-19 outbreaks are often followed by headlines saying that intensive care units (ICUs) have hit capacity. But what does it really mean for an ICU to be full?
                            </p>
                            <a href="https://www.livescience.com/icu-capacity-explained.html" class="medipath-btn">read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="blog-area">
                        <div class="blog-item">
                            <a href="index-blog.html"><img src="https://cdn.mos.cms.futurecdn.net/HwEMRgdXdwkB9LnDN7WXMj-320-80.jpg.webp" alt="blog"></a>
                        </div>
                        <div class="blog-details">
                            <h5><a href="#">Should schools reopen amid the pandemic?</a></h5>
                            <h6>25 August posted by admin</h6>
                            <p>U.S. educators are nervously awaiting the new school year as case counts across the country rise.
                            </p>
                            <a href="#" class="medipath-btn">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="widget-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 w-bottom">
                    <div class="about-us">
                        <img class="bottom" src="../../static/img/logodark.png" alt="">
                        <span class="heading">DOCA</span>
                        <p></p>
                    </div>
                    <div class="about-social">
                        <h5>Stay connected</h5>
                        <ul>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 w-bottom">
                    <div class="f-widget-title">
                        <h4>our service</h4>
                    </div>
                    <div class="categories">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Cardiology</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Neurology</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Traumatology</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Dental</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Pregnancy</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-6">
                                <ul>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Appointment</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Neurology</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Physiotherapists</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Laboratory</a></li>
                                    <li><a href="#"><i class="fas fa-angle-right"></i>Health Topics</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 w-bottom">
                    <div class="f-widget-title">
                        <h4>Newsletter</h4>
                    </div>
                    <div class="news-letter">
                        <p>Type your email address below and recive our daily news letter for free.</p>
                        <div class="subcribe">
                            <form action="email.php">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enput Your Email" name="email" id="cemail" required="">
                                    <button type="submit" class="medipath-btn"><i class="far fa-paper-plane"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $(document).ready(function() {

        $('.items').slick({
            infinite: false,
            slidesToShow: 4,
            slidesToScroll: 4
        });
    });
</script>

</html>