{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <style>
        body {
            color: white;
            overflow: hidden;
            background-color: rgba(137, 43, 226, 0.8);
        }

        .oops {
            font-size: xxx-large;
            font-weight: bold;
        }
        
        .sw{
            font-size: xx-large;
        }
        p{
            font-size: large;
        }
    </style>
</head>

<body>
    <div class="Container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-4 oops2">
            <center>
                <br>
                <br>
                <br>
                <br>
                <br>
                <span class='oops'>OOPS!!!</span>
                <br>
                <br>
                <br>
                <span class="sw">
                    Something went wrong here
                </span>
                <br>
                <p>
                    We are working on it and we will get it fixed
                    as soon as possible
                    You can go back or use or Help center
                </p>
            </center>
            </div>
        </div>
    </div>
</body>

</html>