<!DOCTYPE html>
<html>

<head>

</head>

<body style="background-color: rgba(137, 43, 226, 0.6)">
    <br>
    <center>
        <div style="width: 40%; background-color: white; text-align: left; padding-left: 10%; padding-right: 10%; margin-top: 0px;">
            <br>
            <br>
            <h3 >DOCA</h3>
            <br>
            <H2>Verify Your Login</H2>
            <p style="font-size: 16px;">Below is your One time password</p>
            <center><h1>{{otp}}</h1></center>
            <br>
            <p style="font-size: 16px;">We are here to help if you need it. Visit the DOCA Support for more info or Contact us</p>
            <br>
            <p style="font-size: 16px;">- DOCA Team</p>
            <br>
        </div>
    </center>
    <br><br>
    <br><br>
</body>

</html>