<!DOCTYPE html>
<html>

<head>

</head>

<body style="background-color: rgba(137, 43, 226, 0.6)">
    <center>
        <div style="width: 40%; background-color: white; text-align: left; padding-left: 10%; padding-right: 10%; margin-top: 0px;">
            <br>
            <br>
            <span style="font-size: 30px;height: 50px;display: block;"><img src="https://raw.githubusercontent.com/DOCA-IIIT-Sricity/DOCA/master/static/img/logo_email.png" style="height: 40px;"></span>
            <br>
            <H2>Verify Your Login</H2>
            <p style="font-size: 16px;">Below is your One time password</p>
            <center><h1>{{otp}}</h1></center>
            <br>
            <p style="font-size: 16px;">We are here to help if you need it. Visit the <a href="https://www.google.com">DOCA Support</a> for more info or <a href="https://www.google.com">Contact us</a></p>
            <br>
            <p style="font-size: 16px;">- DOCA Team</p>
            <br>
        </div>
    </center>
    <br><br>
    <br><br>
</body>

</html>